.searchResults {
	padding: 0 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-align: center;
}

.categories {
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.categoryBox {
	position: relative;
	padding: 1rem;
	width: 45%;
	max-width: 150px;
	display: flex;
	flex-direction: column;
	background-color: var(--white-color);
	cursor: pointer;
	outline: none;
	span {
		font-size: 1.2rem;
		text-align: center;
	}
	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 2px;
		background-color: var(--green-color);
		transform: scaleX(0);
		transform-origin: bottom;
	}
	&.active::after,
	&:hover::after,
	&:focus-visible::after {
		transform: scale(1);
	}
}


.results {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

// MEDIA QUERIES

@media not (prefers-reduced-motion) {
	.categoryBox::after {
		transition: transform 0.3s ease-in-out;
	}
}

@media (width >= 770px) {
	.searchPage {
		display: flex;
		gap: 2rem;
	}
}
