@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--black-color: #17171a;
	--grey-color: #f8f8f8;
	--white-color: #fff;
	--blue-color: #00215e;
	--green-color: #008000;
	--red-color: #d6230c;
	--font-black: #000;
	--font-white: #fff;
	--font-grey: #a2a2a3;
	--border-color: #a2a2a3;
}

html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
	scroll-behavior: smooth;
}

body {
	background-color: var(--white-color);
	color: var(--font-black);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	overflow-x: hidden;
	&:focus-within {
		outline: 1px solid white;
		border-radius: 5px;
	}
}

section {
	padding: 5rem 0;
}

h4 {
	font-size: 2rem;
}

input[type='date']:focus {
	outline: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="date"]::-webkit-calendar-picker {
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

input[type='date']::-webkit-calendar-picker-indicator {

	padding-left: auto;
	cursor: pointer;
	&:focus-visible {
		outline: none;
	}
}

input[type='date']::-webkit-inner-spin-button {
	background-color: black;
}