.classHeadline {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.classHeader {
	font-size: 2rem;
}
.buttons {
	display: flex;
	justify-content: end;
	gap: 0.5rem;
}
.leftBtn,
.rightBtn {
	display: flex;
	padding: 1rem;
	color: var(--font-grey);
	background-color: var(--white-color);
	font-size: 2rem;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.3s;
	&:focus-visible {
		outline: black 1px solid;
	}
}

.carousel {
	overflow: hidden;
}

.carouselContainer {
	margin: 5rem 0;
	display: flex;
	flex-wrap: nowrap;
	gap: 5%;
}

@media not (prefers-reduced-motion) {
	.leftBtn:hover,
	.rightBtn:hover {
		color: var(--font-white);
		background-color: var(--blue-color);
	}
}

@media (width>= 770px) {
	.carousel {
		width: 100%;
		.carouselContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 3%;
			// flex-wrap: nowrap;
		}
	}
}

// @media (width>= 1200px) {
// 	.carousel {
// 		.rentalContainer {
// 			gap: 3%;
// 		}
// 	}
// }
