.goTopContainer {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.goTop {
    
	padding-bottom: 0.3rem;
	display: flex;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	background-color: inherit;
	color: var(--black-color);
	border: 1px solid var(--black-color);
	border-radius: 50%;
	cursor: pointer;
}

@media not (prefers-reduced-motion) {
	.goTop {
		animation: pulse 1s infinite;
	}
}

@keyframes pulse {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.1;
	}
	100% {
		scale: 1;
	}
}
